#root {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page > img {
  width: 100px;
  cursor: pointer;
}

.container_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
